/* ===========================
Global Reset
=========================== */
* {
  box-sizing: border-box;
}
/* 
===========================
Accessible Icon Buttons
(Buttons that look like plain icons)
===========================
*/
button,
select,
button.icon-button,
button.dependency-add-btn,
button.nav-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  appearance: none;
  -webkit-appearance: none;
}


/* ===========================
Builder Body
   =========================== */

div.builder-body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  /* align-items: center; */
  flex-direction: column;
  padding: 0em 1em;
  /* border: 1px solid red; */
}

/* ===========================
Navbar
=========================== */

nav.navbar-body {
  width: 100%;
  height: 80px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted #ccc;
}

/* ===========================
   Right Nav Section
   =========================== */

nav.navbar-body > .right-nav-section {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===========================
   Left Nav Section
   =========================== */

button.left-nav-section {
  width: 48px;
  aspect-ratio: 1/1;
}

/* ===========================
   Mid Nav Section
   =========================== */

.mid-nav-section {
  display: flex;
  justify-content: center;
  flex: 1;
  /* border-bottom: 1px solid lime; */
}

/* ===========================
   Part Body Sections
   =========================== */

   .main-body {
  min-height: 100vw;
  height: auto;
  /* border: 1px solid lime; */
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.part-body {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  /* border: 1px solid red; */
}

/* .project-builder-body {
} */

form.init-project-builder {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
}

.init-project-builder-header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 0px;
  /* border-bottom: 1px solid #ccc; */
}

.section1-init-project-builder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.project-builder-drop {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-builder-drop > h3{
    font-weight: 200;
}

.init-project-drop {
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    border-radius: 0;
    background: #222528;
    border-radius: 4px;
    color: #fff;
    padding: 8px 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.init-project-drop:focus {
    color: #fff;
    background-color: #6ab33f;
    border: none;
}

/* Options */
.init-project-drop option {
    background: #222528;
    color: white;
}

.init-project-drop option:hover {
    background-color: #6ab33f;
    color: white;
}

.init-project-drop option:checked {
    background-color: #6ab33f;
    color: white;
}

.section2-init-project-builder {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 4fr;
    padding-right: 30%;
}

label {
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 800;
    font-size: larger;
}

input {
    padding: 8px 16px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: none;
    color: #fff;
}

input:focus {
    border-bottom: 1px solid #6ab33f;
}

aside.dependency-section {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  padding: 0px 8px;
}

header.dependency-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  border-bottom: 1px solid #ccc;
}

button.dependency-add-btn {
    font-weight: 700;
    font-size: large;
    background-color: #6ab33f;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
}



/* .init-project-builder {
    display: flex;
    flex
} */

.database-builder-body {
}

.entity-builder-body {
}

div.builder-body.light {
  background-color: #fff;
  color: #181d19;
}

/* Focus ring only for keyboard users */
select:focus-visible,
button:focus-visible,
button.icon-button:focus-visible,
button.nav-button:focus-visible {
    border: 1px solid #6ab33f;
  outline: 2px solid #6ab33f;
  outline-offset: 0px;
}

/* Optional: subtle hover effect for icons */
button,
button.icon-button:hover,
button.nav-button:hover {
  opacity: 0.8;
}