.dependency-selector {
  width: 100%;
  font-family: Inter, sans-serif;
  position: relative;
}

.top-row {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.top-row select,
.top-row input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--line);
  background: var(--input);
  color: var(--text);
  flex: 1;
}

.top-row button {
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: var(--accent);
  color: white;
  cursor: pointer;
}

/* Both selected and non-selected dependencies have same style */
.dep-item,
.dep-item-selected {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #1e2223;
  padding: 12px 16px;
  border-radius: 6px;
  margin-bottom: 8px;
  overflow-y: auto;
}

.selected-dep-text-wrapper,
.dep-item div {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.selected-dep-title,
.dep-item div strong {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.selected-dep-title,
.dep-search-wrap {
    display: flex;
}

.selected-dep-name,
.dep-item div strong {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  color: #fff;
}

.selected-dep-type,
.dep-item .type {
  display: flex;
  background: #6db33f;
  color: #fff;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 4px;
  margin-top: 2px;
}

.dep-item .type {
    background-color: none;
}

.selected-dep-desc,
.dep-item .desc {
  font-size: 13px;
  color: #999;
  margin-top: 4px;
  text-align: left;
}

.btn.add,
.btn.remove {
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.add {
  background: #57b67a;
  color: white;
}

.btn.remove {
  background: #c94c4c;
  color: white;
}

.suggestions-overlay {
  position: relative;
  margin-top: 8px;
  background: #1b1e1f;
  border: 1px solid var(--line);
  border-radius: 6px;
  max-height: 450px;
  overflow-y: auto;
  padding: 4px 0;
}

.overlay-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 6px 8px;
  transition: background 0.2s;
}

.overlay-item:hover {
  background: #2b2f30;
}
