.projectFormBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    align-items: start;
    padding: 1rem;
}

.projectFormSection1 {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.projectFormSetupInput {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.projectFormSetupInput > label{
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.projectFormSetupInput > select{
    background-color: #222528;
    color: #ccc;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    box-shadow: none;
    color: #fff;
}
.projectFormSetupInput > select:focus{
    outline: 2px solid #6db33f;
    border: none;
}

.projectFormSection2 {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px 20px;
}

.projectFormSection2 > h3,
.projectFormSection2 > label {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.projectFormSection2 > input {
    background-color: #222528;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid #ccc; /* optional */
    outline: none;
    width: 100%;                     /* very important */
    box-sizing: border-box;          /* ensures padding included in width */
}

.projectFormSection2 > input:focus{
    border-bottom:2px solid #6db33f;
    /* outline: none; */
}

